@font-face {
    font-family: "Gladiora";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/gladiora-regular.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

*:focus {
    outline: none;
}

.react-tooltip {
    font-size: 12px !important;
    font-weight: 300;
    padding: 6px !important;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

* ::-webkit-scrollbar {
    width: 0;
    height: 0;
}
